<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='/static/first_app/index_style.css?{% now "U" %}'>
</head>
<body>
  <header>
    <div class="head_background">
      <div class="head_container container-flex">
        <a href="index">
          <div class="web_logo container-flex">
            <div class="logo_image">
              <img src="{% static 'images/body_img21.png' %}" alt="" />
            </div>
            <div class="logo_text">
              <h1>Sarathy</h1>
            </div>
          </div>
        </a>
        <div class="web_nav container-flex">
          <a href="login_who"> <div class="login">Login</div></a>
          <a href="whosignup"><div class="signup">Sign Up</div></a>
          <a href="about"><div class="about">About us</div></a>
        </div>
      </div>
    </div>
  </header>
    <p style="text-align: center; font-size: 7rem;">
        NEXT UI
    </p>
</body>
</html>